div{
    width:200px;
    height:200px;
    text-align:center;
    border:3px solid black;
    border-radius: 12px;
    display:inline-block;
}

#box1{
background-color: rgba(223, 226, 235, 0.603);
height:200px;
}
body{
    background-image: url("https://images.unsplash.com/photo-1580933884561-245548c0396c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    
}

#box2{
    background-color: orange;
}

#box3{
    background-color: aqua;

}

#box4{
    background-color: yellowgreen;
}